* {
   margin: 0;
   padding: 0;
}

body{
    background-color: rgb(239, 240, 245);
    font-family: 'Tahoma';
    text-decoration-color: darkgrey;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;  
}
.h1{
   font-family: 'Tahoma', 'bold';
   text-align: justify;
   align-items: justify;
   margin:1vw;
}


.h2{
  font-family: 'Tahoma';
  text-align:justify;
  align-items: justify;
  margin:1vw;
}

.h3{
  font-family: 'Tahoma';
  text-align: justify;
  align-items: justify;
  margin:1vw;
}

.Icono{
  display: inline-block;
  height: 3vw;
  width: 15%;
  margin: auto;
}

.p{
  font-family: 'Tahoma';
  text-align: justify;
  margin:1vw;
}

a{
  font-family: 'Tahoma';
  color: azure;
  margin: 1vw; 
}

.footer, .button{
  font-family: 'Tahoma';
  text-align: center;
  display: flex;
  margin: 1vw 2.5vw;
  
}

.Inicio{
   width:90%;
   max-width: 1000px;
   margin:1vw auto;
   display: grid;
   grid-gap: 1vw;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, auto);
   grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "footer footer footer";
                        justify-content: space-between;

}
.Inicio .header{
   height: 7vw;
   background: darkblue;
   color: azure; 
   align-items: center;
   margin: 1vw;
   padding: 1vw;
   display: flex;
   grid-area: header;
}

 /*Tablet header*/
 @media screen and (min-width:480px) and (max-width: 960px) {
   
     .Inicio{
   
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header header"
                           "contenido contenido"
                           "footer footer";
                           justify-content: space-between;
   }
  .Inicio .header .nav .a 
  .Inicio .header{

      flex-direction:column;
   }

   .Inicio .header .nav .a{
      display: flex;
      color: azure; 
      width: 100%;
      margin-left: 1vw;
      font-weight: 800;
      padding: 1vw;
   }

   .Inicio .header .nav .a:hover{
         color:rgb(0, 3, 12);
     }  
}
.Inicio .contenido{
   grid-area: contenido;
   display: inline-block;
   background-color: azure;
   width: 90%;
   
}
/*Tablet contenido*/
@media screen and (min-width:480px) and (max-width: 960px) {
   .Inicio{
   
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header header"
                           "contenido contenido"
                           "footer footer";
                           justify-content: space-between;
   }
   .Inicio .contenido .columna1,
   .Inicio .contenido .columna2,
   .Inicio .contenido .columna3
   {
      display: block;
      border-color: blue;
      margin: 1vw;
      
   }
   .Inicio .contenido .columna1 {
      float:left;
      
   }
   .Inicio .contenido .columna2 {
      float: right;
        
   }
   .Inicio .contenido .columna3 {
      float: auto;
      
   }
   .Inicio .contenido .columna1 .Imagen{
      width: 90%;
      border-color: blue;
       
     }
     .Inicio .contenido .columna2 .p{
      width: 90%;
      height: 50vw;
      font-size: smaller;
      text-align: justify;
      
     }
   .Inicio .contenido .columna3 .Imagen{

       border-color: blue;
       margin-top: 5vw;
       width: 90%;  
      }
      
   }
   .Inicio .footer{
      display: flex;
      height: 9vw;
      background: darkblue;
      color: azure;
      margin: 1vw;
      grid-area: footer;
   }  
/*Tablet footer*/
@media screen and (min-width: 480px) and (max-width: 960px)  {
   .Inicio{
   
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, auto);
   grid-template-areas: "header header"
                        "contenido contenido"
                        "footer footer";
                        justify-content: space-between;
}

   .Inicio .footer .servicioCliente,
   .Inicio .footer .copyrigth,
   .Inicio .footer .redes 
      {
         display:flex;
         margin: 1vw;
        
      }
      .Inicio .footer .servicioCliente{
         float: left;
      }
      .Inicio .footer .copyrigth{
         float: center;
      }
      .Inicio footer .redes{
         float: right;

      }
   }
       /*celular header*/
       @media screen and (max-width:480px) {
         .Inicio{
   
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: "header"
                                 "contenido"
                                 "footer";
                                 justify-content: space-between;
         }
         
        .Inicio .header .nav .a 
        .Inicio .header{
      
            flex-direction: column;
            height: 30vw;
         }
      
         .Inicio .header .nav .a{
            display: flex;
            color: azure;
            width: 100%;
            margin-left: 1px;
            font-weight: 600;
            padding: 1vw;
         }
      
         .Inicio .header .nav .a:hover{
               color:rgb(0, 3, 12);
           }  
      }
      .Inicio .contenido{
         grid-area: contenido;
         display: block;
         background-color: azure;
         margin: 1vw;
      }   
 /*celular contenido*/
 @media screen and (max-width: 480px){
   .Inicio{
   
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header"
                           "contenido"
                           "footer";
                           justify-content: space-between;
   }
    .Inicio .contenido .columna1,
    .Inicio .contenido .columna2,
    .Inicio .contenido .columna3
    {
       display: block;
       border-color: blue;
       width: 90%;   
    }
    .Inicio .contenido .columna1{
       float: left;
       
    }
    .Inicio .contenido .columna2{
       float: center;
          
    }
    .Inicio .contenido .columna3{
      float: right; 

    }
    .Inicio .contenido .columna1 .Imagen{
      width: 90%;
      border-color: blue;
     }
     .Inicio .contenido .columna2 .p{
      width: 90%;
      height: 50vw;
      text-align: justify; 
        
     }

   .Inicio .contenido .columna3 .Imagen{
    
      display: block;
      margin-top: 1vw;
      width: 95%;
      border-color: blue;   

 }
}
 
/*celular Inicio footer*/
 @media screen and (max-width: 480px){
   .Inicio{
   
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header"
                           "contenido"
                           "footer";
                           justify-content: space-between;
   }
    .Inicio .footer .servicioCliente,
    .Inicio .footer .copyrigth,
    .Inicio .footer .redes 
       {
         background: darkblue;
         height: 30vw;
   
       }
       .Inicio .footer .servicioCliente{
          float: left;
       }
       .Inicio .footer .copyrigth{
          float: auto;
       }
       .Inicio footer .redes{
          float: auto;
 
       }
    }

   /*PC header*/
   @media screen and (min-width: 1328px){
        
  .Inicio .header .nav .a 
  .Inicio .header{
      
      flex-direction:column;
   }

   .Inicio .header .nav .a{
      display: flex;
      color: azure;
      width: 100%;
      margin-left: 20px;
      font-weight: 800;
      padding: 1vw;
   }

   .Inicio .header .nav .a:hover{
         color:rgb(0, 3, 12);
     }  
}

/*PC contenido*/
@media screen and (min-width: 1328px){
   .Inicio .contenido .columna1,
   .Inicio .contenido .columna2,
   .Inicio .contenido .columna3
   {  
      display: inline-block;
      width: 30%; 
      border-color: blue;
      margin: 1vw;

   }
   .Inicio .contenido .columna1 {
      float:left;
      
   }
   .Inicio .contenido .columna2 {
      float: center;
        
   }
   .Inicio .contenido .columna3 {
      float: right;
      
   }
   .Inicio .contenido .columna1 .Imagen{
      width: 90%;
      border-color: blue;
       
     }
     .Inicio .contenido .columna2 .p{
      width: 90%;
      height: 47vw;
      text-align: start;
      margin: 1vw;
      
        
     }
   .Inicio .contenido .columna3 .Imagen{
      width: 95%;
      border-color: blue;
      margin-top: 50vw;
     
      }
}
/*PC footer*/
@media screen and (min-width: 1328px){
   .Inicio .footer .servicioCliente,
   .Inicio .footer .copyrigth,
   .Inicio .footer .redes 
      {
         display:flex;
         margin: 1vw;
        
      }
      .Inicio .footer .servicioCliente{
         float: left;
      }
      .Inicio .footer .copyrigth{
         float: center;
      }
      .Inicio footer .redes{
         float: right;

      }
    }
 
 /* Departamentos*/

   .Departamentos{
      width:90%;
      max-width: 1000px;
      margin:1vw auto;
      display: grid;
      grid-gap: 1vw;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header header header"
                           "contenidoDeptos contenidoDeptos contenidoDeptos"
                           "footer footer footer";
                           justify-content: space-between;
   
   }
   .Departamentos .header{
      height: 7vw;
      background: darkblue;
      color: azure; 
      align-items: center;
      margin: 1vw;
      padding: 1vw;
      display: flex;
      grid-area: header;
   }
   
    /*Tablet header*/
    @media screen and (min-width:480px) and (max-width: 960px) {
      .Departamentos{
      
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, auto);
         grid-template-areas: "header header"
                              "contenidoDeptos contenidoDeptos"
                              "footer footer";
                              justify-content: space-between;
      }
     .Departamentos .header .nav .a 
     .Departamentos .header{
   
         flex-direction:column;
      }
   
      .Departamentos .header .nav .a{
         display: flex;
         color: azure; 
         width: 100%;
         margin-left: 1vw;
         font-weight: 800;
         padding: 1vw;
      }
   
      .Departamentos.header .nav .a:hover{
            color: rgb(0, 3, 12); 
        }  
   }
   
   .Departamentos .contenidoDeptos{
     
      grid-area: contenidoDeptos;
      display: inline-block;
      background-color: azure;
      width: 90%;
   
   } 

   /*Tablet contenido deptos*/
   @media screen and (min-width: 480px) and (max-width: 960px) {
      .Departamentos{
        
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, auto);
         grid-template-areas: "header header"
                              "contenidoDeptos contenidoDeptos"
                              "footer footer";
                              justify-content: space-between;
      }
      .Departamentos .contenidoDeptos .columna1D .fila1 .fila2,
      .Departamentos .contenidoDeptos .columna2D .fila1 .fila2,
      .Departamentos .contenidoDeptos .columna3D .fila1 .fila2
   

      {
         display: inline-block;
         border-color: blue;
         width: 90%;
         
      }
      .Departamentos .contenidoDeptos .columna1D{
         
         float: left;
         width: 45%;
         text-align: justify;
         margin-left: 2vw;
         
         
      }
      .Departamentos .contenidoDeptos .columna2D{
         
         float: right; 
         width: 45%;
         text-align: justify;
         margin-left: 2vw;
        
         
      }
      .Departamentos .contenidoDeptos .columna3D{
         
         float: auto; 
         width: 45%;
         text-align: justify;
         margin-left: 2vw;
        
         
      }
      
      
      .Departamentos .contenidoDeptos .columna1D .Imagen{
         
         border-color: blue;
         width: 90%;  
         height: 30vw;
         
      }
      .Departamentos .contenidoDeptos .columna2D .Imagen{
         
         border-color: blue;
         width: 90%;  
         height: 30vw;
         
        
      }
      .Departamentos .contenidoDeptos .columna3D .Imagen{
         
         border-color: blue;
         width: 90%;  
         height: 30vw;
         
        
      }
     
   }
     
.Departamentos .footer{
   display: flex;
   height: 9vw;
   background:darkblue;
   color: azure;
   grid-area: footer;
   margin: 1vw;
}

/*Tablet footer departamentos*/
@media screen and (min-width: 480px) and (max-width: 960px)  {
   .Departamentos{
   
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, auto);
   grid-template-areas: "header header"
                        "contenidoDeptos contenidoDeptos"
                        "footer footer";
                        justify-content: space-between;
}

   .Departamentos .footer .servicioCliente,
   .Departamentos .footer .copyrigth,
   .Departamentos .footer .redes 
      {
         display:flex;
         margin: 1vw;
        
      }
      .Departamentos .footer .servicioCliente{
         float: left;
      }
      .Departamentos .footer .copyrigth{
         float: center;
      }
      .Departamentos footer .redes{
         float: right;

      }
   }
   .Departamentos .contenidoDeptos{
   
      grid-area: contenidoDeptos;
      display: inline-block;
      background-color: azure;
      margin: 1vw;
      width: 90%;
   
   } 

    /*Celular departamentos header*/
      @media screen and  (max-width: 480px){
         .Departamentos{
        
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: "header"
                                 "contenidoDeptos "
                                 "footer";
                                 justify-content: space-between;
         }
      
      .Departamentos .header .nav .a 
      .Departamentos .header{
          flex-direction:column;
          height: 30vw;
       }
       .Departamentos .header .nav .a{
         display: flex;
            color: azure;
            width: 100%;
            font-weight: 600;
            padding: 1vw;
          
       }
       .Departamentos .header .nav .a:hover{
             color:rgb(0, 3, 12);
         }
    }
    
    /*celular deptos contenido deptos*/
    @media screen and (max-width: 480px) { 
    .Departamentos{
        
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header"
                           "contenidoDeptos"
                           "footer";
                           justify-content: space-between;
   }
   .Departamentos .contenidoDeptos .columna1D .fila1 .fila2,
   .Departamentos .contenidoDeptos .columna2D .fila1 .fila2,
   .Departamentos .contenidoDeptos .columna3D .fila1 .fila2
   {
      display: block;
      border-color: blue; 
   } 

   .Departamentos .contenidoDeptos .columna1D{
      float: left;
     
   }

   .Departamentos .contenidoDeptos .columna2D{
      float: center; 
     
   }

   .Departamentos .contenidoDeptos .columna3D{
      
      float: right;
   
   }
   .Departamentos .contenidoDeptos .columna1D .Imagen{
      display: block;
      border-color: blue; 
      width: 90%;  
      height: 50vw;
      margin: 1vw;
   }

   .Departamentos .contenidoDeptos .columna2D .Imagen{
      display: block;
      border-color: blue;
      width: 90%;  
      height: 50vw;
      margin: 1vw;
     
   }

   .Departamentos .contenidoDeptos .columna3D .Imagen{
      display: block;
      border-color: blue;
      width: 90%;  
      height: 50vw;
      margin: 1vw;
     
   }
  
}
      /*celular Footer deptos*/
      @media screen and (max-width: 480px) {
    
    .Departamentos{
   
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "header"
                           "contenidoDeptos"
                           "footer";
                           justify-content: space-between;
   }
   
      .Departamentos .footer .servicioCliente,
      .Departamentos .footer .copyrigth,
      .Departamentos .footer .redes 
         {
            display: block;
            background-color: darkblue;
            height: 30vw;

           
         }
         .Departamentos .footer .servicioCliente{
            float: left;
         }
         .Departamentos .footer .copyrigth{
            float: auto;
         }
         .Departamentos footer .redes{
            float: auto;
   
         }
      }

      /*PC header*/
       @media screen and (min-width: 1328px) {
   
      .Departamentos .header .nav .a 
      .Departamentos .header{

          flex-direction:column;
       }
       .Departamentos .header .nav .a{
          display: flex;
          font-weight: 800;
          padding-right: 20px;
       }
       .Departamentos .header .nav .a:hover{
             color:rgb(0, 3, 12);
         } 
       
    }
 
    /*PC Contenido deptos*/
    @media screen and (min-width: 1328px) {
      .Departamentos{
   
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(3, auto);
         grid-template-areas: "header header header"
                              "contenidoDeptos contenidoDeptos contenidoDeptos"
                              "footer footer footer";
                              justify-content: space-between;
      }
   
      .Departamentos .contenidoDeptos .columna1D .fila1 .fila2,
      .Departamentos .contenidoDeptos .columna2D .fila1 .fila2,
      .Departamentos .contenidoDeptos .columna3D .fila1 .fila2
      {
         display: inline-table;
         border-color: blue;
         width: 90%;
         
      }
      .Departamentos .contenidoDeptos .columna1D{
         
         float: left;
         width: 30%;
         text-align: justify;
         margin-left: 2vw;
         
         
      }
      .Departamentos .contenidoDeptos .columna2D{
         
         float: left; 
         width: 30%;
         text-align: justify;
         margin-left: 2vw;
        
         
      }
      .Departamentos .contenidoDeptos .columna3D{
         
         float: left; 
         width: 30%;
         text-align: justify;
         margin-left: 2vw;
      
      }
      
      .Departamentos .contenidoDeptos .columna1D .Imagen{
         
         border-color: blue;
         width: 90%;  
         height: 20vw;
         
      }
      .Departamentos .contenidoDeptos .columna2D .Imagen{
         
         border-color: blue;
         width: 90%;  
         height: 20vw;
         
        
      }
      .Departamentos .contenidoDeptos .columna3D .Imagen{
         
         border-color: blue;
         width: 90%;  
         height: 20vw;
         
      }

      }

    /*PC footer Departamentos*/
    @media screen and (min-width: 1328px) {

      .Departamentos .footer .servicioCliente,
      .Departamentos .footer .copyrigth,
      .Departamentos .footer .redes 
         {
            display:flex;
           
         }
         .Departamentos .footer .servicioCliente{
            float: left;
         }
         .Departamentos .footer .copyrigth{
            float: center;
         }
         .Departamentos footer .redes{
            float: right;
   
         }
      }


 




